body{
    background-color: gainsboro;
}
h1{
    text-align: center;
}
.clear{
    clear: both;
}
p{

    
    border-radius:10px;
    padding:5px;
    border:2px solid white;
    background:lightgray;
    color:black;
    font-size:18px;
}
#score{
    
        padding:5px 10px;
        background-color: aliceblue; 
        margin:0 auto;
        width:200px;

}
#canvas{
    background-color: slategray;
}
#canvasBlock{
    margin-left: -250px;
    padding-left: 50%;

}
#btn{
    width:200px;
    margin: 10px auto;
    padding:5px;
   
   
}
    
#resetButton{

    border: 1px solid #000;

    border-radius: 20px;

    background-color: #ffffff;
}
#control{
    width:200px;
    margin: 20px auto;
}

#control button{
    padding:5px;
}